@import "root";

.app {
	position: relative;
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	>div {
		position: relative;
		padding: 4rem .5rem 6rem;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 16px;
	}

	.app {
		>div {
			padding: 4rem 2rem;
		}
	}
}
